<li>

  <p>
    <!-- Creating delete button for Comment  -->
    <% if (locals.user && (locals.user.id == comment.user.id) ) { %> 
      <small>
        <!-- passing post.id as string/url params -->
        <a href="/comments/destroy/<%= comment.id %>">X</a>   
      </small>

    <% } %>
    <%= comment.content %>
    <br>
    <small>
      <%= comment.user.name %>
    </small>
    
  </p>

</li>