
    <link rel="stylesheet" href="/css/user_profile.css">
    <h1>User | <%= user.name %></h1>

    <br>

    <h2>
        <a href="/users/sign-out">Sign-out</a>
    </h2>

    <p>Name : <%= user.name %></p>
    <p>Email : <%= user.email %></p>

    